@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-mono: "Courier New", Courier, monospace;
}

body {
  @apply font-sans antialiased;
  background-color: #050505;
  color: #FFFFFF;
}
